nav {
    color: white;
    background: rgb(34,63,154);
    background: linear-gradient(90deg, rgba(34,63,154,1) 0%, rgba(4,4,41,1) 51%, rgba(71,43,82,1) 100%);
}

#weather-box {
    border: 2px solid black;
    margin-top: 10px;
    padding-left: 15px;
}

#search-for-label {
    font-size: 30px;
}

.card {
   margin-right: 5rem;
   margin-top: 1rem;
   color: white;
   width: 16rem;
   height: 16rem;
}

#uv-index {
    border-radius: 5px;
    color: white;
    padding: 2px 10px;
}

.first-card {
    margin-left: 10px;
}

.card-text {
    font-size: 20px;
}