nav {
    background-color: blue;
    color: white;
}

#weather-box {
    border: 2px solid black;
    margin-top: 10px;
}

#search-for-label {
    font-size: 30px;
}

.card {
   margin-right: 5rem;
   margin-top: 1rem;
   color: white;
   width: 15rem;
   height: 15rem
}

#main-icon {
    display: inline-block;
}